li.Setting_Line input {
    border:#0B1C52 1px solid;
    background:#c9c9ff;
    color:#FFF;
    padding-left:.5em;
    padding-right:.5em;
    margin-left:1em;
    margin-right:1em;
}

li.Setting_Controls {
    margin-top:.5em;
    margin-bottom:.5em;
    list-style-type:none;
    margin-left:8em;
}

li.Setting_Controls input {
    border:#0B1C52 1px solid;
    background:#c9c9ff;
    color:#000;
    padding-left:.5em;
    padding-right:.5em;
}

a.VarGroupHeaderItem {
    background-color:#003FB3;
    display:block;
    color:#FFF;
    padding-left:1em;
    width:12em;
}

div.VarGroups select {
    border:#0B1C52 1px solid;
    background:#c9c9ff;
    color:#000;
    width:8em;
    padding-left:.5em;
    margin-right:1em;
}

a.Help_Link {
    background-color:#FF0;
    text-align:center;
    display:inline-block;
    display: -moz-inline-box;
    width:5em;
    padding-left:1em;
    border-bottom:1px solid #FFF;
}

li.Plugin_Level {
    margin-left:2.5em;
    list-style-type:none;
}

a.Plugin_Group {
    background-color:#003FB3;
    display:block;
    color:#FFF;
    padding-left:1em;
    width:10em;
}

a.Plugin_Name {
    padding-left:1em;
    padding-right:1em;
    text-decoration:none;
}

div.disablecontrol {
    opacity:.6;
}

li.File_Line {
    margin-left:10em;
    color: #000;
    opacity:1px;
}

div.VarGroups {
    margin-left:2%;
    margin-top:5em;
}

ul.GroupHeader {
    padding-left:0;
    font-size:12px;
    width:100em;
    margin:0;
}

div.VarGroups ul a:hover {
    border-bottom:1px solid #FFF;
    background-color:#002c7d;
}

li.VarGroupHeaderLine {
    font-weight:700;
    color:#FFF;
    list-style-type:none;
    cursor:pointer;
    width:80%;
    padding:4px 5px 2px 0;
}

ul.ItemList li {
    margin:0 0 0 1em;
}

div.VarGroups input:hover {
    border:#0B1C52 1px solid;
    background-color:#036;
    color:#fff;
}

div.VarGroups textarea {
    margin-left:1em;
    border:#0B1C52 1px solid;
    background:#c9c9ff;
    vertical-align:text-top;
    width:35em;
}

div.VarGroups ul ul {
    margin-left:5px;
    border:.2em solid #036;
    display:block;
    background-color:#c9c9ff;
    width:80%;
}

div.VarGroups ul ul a:hover {
    background-color:#036;
}

div.VarGroups ul ul ul {
    border:0;
    margin-bottom:1em;
    display:inline;
}

div.GroupHeader input {
    border:#0B1C52 1px solid;
    background:#c9c9ff;
    color:#000;
}

div.GroupHeader textarea {
    margin-left:1em;
    border:#0B1C52 1px solid;
    background:#c9c9ff;
    vertical-align:text-top;
}

div.GroupHeader ul {
    list-style-type:none;
    background-color:#26a;
    font:12px verdana,sans-serif;
    margin-left:5%;
    padding:3px;
}

div.GroupHeader a {
    display:block;
    background-color:#369;
    color:#FFF;
    text-align:center;
    width:10em;
    border:1px solid #369;
    padding:3px;
}

div.GroupHeader a:hover {
    border:2px solid #000;
    border-bottom:1px solid #36C;
    background-image:url('/image/config/menu_toplevel_hover.png');
}

div.GroupHeader li {
    list-style:none;
    border:1px solid #fff;
}

div.GroupHeader li li {
    display:block;
    color:#FFF;
    background-color:#69C;
    width:40em;
    text-decoration:none;
    border-bottom:1px solid #fff;
    padding:3px 12px 3px 8px;
}

span.VarInputInt input {
    width:5em;
    margin:5px;
}

div.VarInputStr {
    width:80%;
    margin-left:20px;
    background:#fff;
}

div.VarInputStr input {
    border:#0B1C52 1px solid;
    background:#c9c9ff;
    color:#000;
    width:17em;
    margin:5px;
}

li.Plugin_Info {
    max-height:200px;
    border:#0B1C52 1px solid;
    width:600px;
    overflow:auto;
    margin-top:.5em;
    margin-bottom:1em;
    padding:1em;
}

ul.plugin_vars input {
    border:#0B1C52 1px solid;
    background:#c9c9ff;
    color:#000;
    margin:0 1em;
    padding:0 .5em, 0 .5em;
}

a.PluginStatusActive {
    display:  -moz-inline-stack;
    display:inline-block;
    width:10em;
    background-color:green;
    text-align:left;
    color:#0f0;
    vertical-align:center;
    border:#0B1C52 1px solid;
    padding:0 1em;
}

a.PluginStatusDeactive {
    display: -moz-inline-stack;
    display:inline-block;
    width:10em;
    background-color:red;
    text-align:left;
    color:#000;
    vertical-align:center;
    border:#0B1C52 1px solid;
    padding:0 1em;
}

a.PluginStatusRemoved {
    display: -moz-inline-stack;
    display:inline-block;
    width:10em;
    background-color:orange;
    text-align:left;
    color:#000;
    vertical-align:center;
    border:#0B1C52 1px solid;
    padding:0 1em;
}

div.file_browse {
    padding-right:1em;
}

div.file_browse a {
    border-bottom:none;
    text-decoration:none;
    padding-left:1em;
    padding-right:1em;
    color:#000;
}

div.filelist {
    height:200px;
    overflow:auto;
    border:1px solid #666;
    padding-left:1em;
    padding-right:1em;
    margin:0 5em;
}

li.file {
    list-style-type:none;
    padding-left:2em;
}

li.directory {
    background-image:url(/images/library/folder.png);
    background-repeat:no-repeat;
    padding-left:2em;
    list-style-type:none;
}

span.checkOK {
    display: -moz-inline-stack;
    display:inline-block;
    color:#0f0;
    width:10em;
    vertical-align:center;
    border:#0B1C52 1px solid;
    text-align:center;
    background-color:green;
    padding:0 1em;
}

span.checkError {
    display: -moz-inline-stack;
    display:inline-block;
    color:#000;
    width:10em;
    text-align:center;
    vertical-align:center;
    border:#0B1C52 1px solid;
    background-color:red;
    padding:0 1em 0 0;
}

span.CheckWarning {
    display: -moz-inline-stack;
    display:inline-block;
    color:#000;
    width:10em;
    vertical-align:center;
    border:#0B1C52 1px solid;
    text-align:center;
    background-color:orange;
    padding:0 1em;
}

li.Setting_Line,li.Plugin_Group,li.Plugin_Args,li.Plugin_Line,li.PluginHeader {
    list-style-type:none;
}

ul.plugin_vars,ul.plugin_vars li {
    margin-left:5em;
}
