

span.PluginStatus {
    width:300px;
    text-align:center;
}

a.PluginHeaderName {
   backgroundColor: blue;
   clear:both;
   width:10em;
   float:center;
   width: 10%;
   font-style: bold;
}

div.ConfigFileLine {
    color: black;
    padding:0 1.5em;
    font-style: bold;
    background: #F2F2F2;
}


div.PluginInfo {
    color: black;
    padding:0 1.5em;
    font-style: bold;
    background: #F2F2F2;
}

span.PluginStatusActive{
    color: green;
    padding:0 1.5em;
    font-style: bold;
}

span.PluginStatusDeactive{
    color: red;
    padding:0 1em;
}


div.configform {
    color: #333;
    background: inherit;
    padding-top: 1em;
    text-align: left;
}

div.configform input {
//    margin-left: 1em;
//    border: #0B1C52 1px solid;
//    background:  #c9c9ff;
//    color: #000000;
}

div.configform textarea {
//    margin-left: 1em;
//    border: #0B1C52 1px solid;
    background:  #c9c9ff;
//    color: #000000;
}

div.configform select {
    margin-left: 1em;
    border: #0B1C52 1px solid;
    background:  #c9c9ff;
    color: #000000;
}


FORM DT {
//   background-color: red;
//   clear:both;
//   width: 15em;
//   float:left;
   color:blue;
//   text-align:right;
}

FORM DD {
//   background-color: green;
//   float:left;
//   width:15%;
//   color:red
//   margin:0 0 0.5em 0.25em;
}

